<div class="quiz-container" *ngIf="!showResults">
  <div class="question-card">
    <p class="timer">Time Left: {{ timer }} seconds</p>

    <h4>Question {{ currentQuestionIndex + 1 }} of {{ questions.length }}</h4>
    <h2>{{ questions[currentQuestionIndex]?.question }}</h2>
    <ul>
      <li
        *ngFor="let option of questions[currentQuestionIndex]?.options"
        [class.selected]="selectedOption === option"
        (click)="onSelectedOption(option)"
      >
        {{ option }}
      </li>
    </ul>
    <button [disabled]="!selectedOption" (click)="nextQuestion()">
      {{ currentQuestionIndex + 1 == questions.length ? "Finish" : "Next" }}
    </button>
  </div>
</div>
